<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <!--Modbus配置-->

    <!--<add key="取流路径" value="rtmp://rtmp.open.ys7.com/openlive/576208e69f4c439cbf658851d9c0e3bc" />-->
    <add key="取流路径" value="rtmp://rtmp.open.ys7.com/openlive/61e96da9f12a4d058f4737d02c42998d" />
    <!--<add key="取流路径" value="rtsp://admin:a83123008@192.168.0.65:554/Streaming/Channels/101" />-->
    <!--<add key="取流路径" value="rtsp://admin:a83123008@192.168.0.65:554/Streaming/Channels/101" />-->
    <!--<add key="取流路径" value="logs_2\pb\1.mp4" />-->
    <!--<add key="取流路径" value="D:\\Program Files (x86)\\Ezviz Studio\\record\\C62618904_1_20190224T202456Z_20190224T220720Z.mp4" />-->
    
    <!--<add key="数据库路径" value="D:\\vs2017\\出窑服务图片识别版\\出窑服务图片识别版\\出窑服务图片识别版\\bin\\x64\\Debug\\logs_2\\pb\\frozen_model1.pb" />-->
    <add key="数据库路径" value="D:\\vs2017\\出窑服务图片识别版\\出窑服务图片识别版\\出窑服务图片识别版\\bin\\x64\\Debug\\logs_2\\pb\\frozen_model_33000_04_07.pb" />
    <add key="数据库路径" value="D:\\VS2017\\chuyaotupianshibiexitong\\出窑服务图片识别版\\bin\\x64\\Debug\\logs_2\\pb\\frozen_model_33000_04_07.pb" />
    <add key="临时图片路径" value="D:\\VS2017\\chuyaotupianshibiexitong\\出窑服务图片识别版\\bin\\x64\\Debug\\1.jpg" />
    <add key="显示小窗标识" value="1" />
    <add key="等待时间" value="100" />
    <add key="重复次数" value="5" />
    <add key="大于多少得概率" value="0.8" />
   <!--采集周期（ms）-->
    <add key="采集周期" value="1000" />
    <!--Socket-->
    <add key="SocketTimeOut" value="1000" />
    <!--起始位置-->
    <add key="StartingAddress" value="0" />
    <!--数据库连接字符串加密-->
    <add key="useEncrypt" value="false" />
    <!--日记位置-->
    <add key="日记位置" value="出窑工位变化.log" />
    <add key="错误日记位置" value="出窑错误日记位置.log" />
    <!--公司名称-->
    <add key="生产企业" value="福建省榕圣市政工程股份有限公司连江建材分公司" />
    <!--<add key="生产企业" value="调试软件用的管片厂没用删除" />-->

    <!--重启路径-->
    <add key="重启路径" value="D:\\vs2017\\出窑服务图片识别版\\出窑服务图片识别版\\出窑服务图片识别版\\bin\\x64\\Debug\\出窑服务图片识别版.exe" />

  </appSettings>

  <connectionStrings>
    <add name="Xiucai.DbConnection" providerName="System.Data.SqlClient" connectionString="server=47.100.126.101;uid=sa;pwd=905E27CF6F8CCF0CF5259F9B3DCE1F;database=SThree" />
    <!--<add name="SQLiteConnection" connectionString="Data Source=D:\\管片工位采集服务(连江)-分支\\出窑工位采集服务\\出窑工位采集服务\\SQLite_数据库.db;Version=3;" />-->
    <!--<add name="SQLiteConnection" connectionString="Data Source=D:\\vs2017\\管片工位采集服务(连江)-分支\\出窑工位采集服务\\出窑工位采集服务\\SQLite_数据库.db;Version=3;" />-->
    <add name="SQLiteConnection" connectionString="Data Source=D:\\管片工位采集服务(连江)-分支\\出窑工位采集服务\\出窑工位采集服务\\SQLite_数据库.db;Version=3;" />

  </connectionStrings>  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>